body {
    background-color: #ff5722;
}
.drum-machine {
    max-width: 600px;
    padding: 40px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 1px 1px 10px gray;
}
.drum-pad {
    padding: 20px;
    text-align: center;
    font-size: 2em;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    cursor:pointer;
    
}
.display{
    padding: 10px;
    text-align: center;
    border-style: inset;
    background-color: #f3f3f3;
    font-weight: bold;
}